<div class="container my-5 p-5 border">
  <h1>{{title}}</h1>

  <div class="row my-2">
    <ng-content>
    <app-user [name]="name" role="admin" #user></app-user><button (click)="changeUser()">change</button>
  </ng-content>
    <p class="col-lg-4">The button was clicked {{counter}} times</p>
  </div>
  <div class="row my-2">
    <button (click)="onButtonClick()" class="btn btn-primary">Add one</button>
  </div>
  <app-song-list></app-song-list>

  <app-summary></app-summary>

  <img [src]="imageUrl" [alt]="imageAlt">
</div>

