<h1>Users</h1>

<div [class]="displayClass" >{{displayMessage}}</div>

<table class="table userlist">
    <thead>
        <tr>
            <th>Id</th><th>First name</th><th>Surname</th><th>Action</th>
        </tr>
    </thead>
    <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.id }}</td>
    <td>{{ user.firstname }}</td>
    <td>{{ user.surname }}</td>
    <td><a class="btn btn-primary btn-sm" routerLink="{{'/user/' + user.id}}">Edit</a></td>
    <td></td>
    
  </tbody>
  </table>
