<div class="container">
    <div class="row">
        <h1>Building Access Management System</h1>
    </div>
    <div class="row">
        <app-menu></app-menu>
    </div>
    <div *ngIf="navigating" class="row">
        <div class="col m-3">
            Loading - please wait...
        </div>
    </div>        
    <div *ngIf="!navigating" class="row">
        <div class="col col-2 bg-secondary m-3" [style]="showSideMenu ? 'display : block' : 'display : none'">
            <router-outlet name="side-menu">

            </router-outlet>
        </div>
        <div class="col m-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>